In [1]:
import pandas as pd
import numpy as np
import json
from collections import defaultdict

In [2]:
pd.set_option('display.max_rows', 10)

In [3]:
df = pd.read_csv('VSDate_m5.csv', sep=',')
len(df)

42721630

In [4]:
df_m5d13 = df[df["ViewDate"]>="2015-05-13"]
df_m5d13

           UserID      AdID    ViewDate
0               3   7392969  2015-05-13
1               3   2909491  2015-05-14
2               3  23061227  2015-05-14
3               3  29503128  2015-05-14
4               3  12872384  2015-05-14
...           ...       ...         ...
42721625  4339860  32612365  2015-05-17
42721626  4339860  20760100  2015-05-17
42721627  4339860  11728661  2015-05-17
42721628  4339860    434491  2015-05-17
42721629  4339860   4229889  2015-05-17

[24892233 rows x 3 columns]

In [5]:
iu_cnt = df_m5d13['AdID'].value_counts()
i_index = iu_cnt[iu_cnt>=27].index
icut_df = df_m5d13[df_m5d13['AdID'].isin(i_index)]
ui_cnt = icut_df['UserID'].value_counts()
u_index = ui_cnt[ui_cnt>=21].index
uicut_df = icut_df[icut_df['UserID'].isin(u_index)]
uicut_df

           UserID      AdID    ViewDate
501            72  34873232  2015-05-13
502            72   7365843  2015-05-13
504            72  14210208  2015-05-13
506            72   3827989  2015-05-13
508            72   3739736  2015-05-14
...           ...       ...         ...
42721496  4339848  17843729  2015-05-17
42721498  4339848   1473285  2015-05-17
42721503  4339848   9341500  2015-05-18
42721504  4339848  11989351  2015-05-18
42721508  4339848  27610315  2015-05-18

[5021120 rows x 3 columns]

In [6]:
uicut_df.nunique()

UserID      107548
AdID        175738
ViewDate         8
dtype: int64

In [10]:
# uicut_df.drop_duplicates()

In [7]:
utgroup = uicut_df.groupby(['UserID','ViewDate'])
ut_c = utgroup.UserID.count()[lambda x: x >= 5]
utc_id_index = ut_c.index.codes


user_session = {}
L = len(utc_id_index[0])
for i in range(L): 
    loc_i = utc_id_index[0][i]
    loc_j = utc_id_index[1][i]
    uid = utc_id[0][loc_i]
    tid = utc_id[1][loc_j]
    if uid not in user_session:
        user_session[uid] = []
    user_session[uid].append(tid)
    
len(user_session)

107541

In [11]:
df_cut=pd.DataFrame(columns=uicut_df.keys())
df_cut

Empty DataFrame
Columns: [UserID, AdID, ViewDate]
Index: []

In [12]:
cnt = 0
short_c = 0
for uid in user_session: 
    cnt+=1
    if cnt%10000==0:
        print("cnt = ",cnt)
    if len(user_session[uid])<4:
        short_c+=1
        continue
    tid = user_session[uid]
    df_oneuser = uicut_df[uicut_df["UserID"]==uid]
    df_row = df_oneuser[df_oneuser["ViewDate"].isin(tid)]
    df_cut = pd.concat([df_cut, df_row],ignore_index=True)

cnt =  10000
cnt =  20000
cnt =  30000
cnt =  40000
cnt =  50000
cnt =  60000
cnt =  70000
cnt =  80000
cnt =  90000
cnt =  100000

In [13]:
df_cut.nunique()

UserID       17993
AdID        168254
ViewDate         8
dtype: int64

In [ ]:
df4.to_csv('Avito_week.csv',index=0)

In [ ]:
ui_array = df4[['UserID','AdID']].values
uid_turn = defaultdict(int)
iid_turn = defaultdict(int)
uid_cnt = 0
# uid_cnt = 1
# 因为用了np.zero生产数据,第0行也要有实际数据,所以uid要从0开始
# maskid是0，对应的是item，userid可以是0
iid_cnt = 1
for row in ui_array:
    uid = row[0]
    iid = row[1]
    if uid not in uid_turn:
        uid_turn[uid] = uid_cnt
        uid_cnt += 1
    if iid not in iid_turn:
        iid_turn[iid] = iid_cnt
        iid_cnt += 1

len(uid_turn)
len(iid_turn)

In [ ]:
uit_value = df4.values
userList = {}
for row in uit_value:
    uid = uid_turn[row[0]]
    iid = iid_turn[row[1]]
    tid = row[2]
    if uid not in userList:
        userList[uid] = []
        
    userList[uid].append([iid,tid])

In [ ]:
ut_List = {}
for uid in userList:
    it_list = userList[uid]
    sessionList = {}
    for row in it_list:
        iid = row[0]
        tid = row[1]
        if tid not in sessionList:
            sessionList[tid] = []
        
        sessionList[tid].append(iid)
    
    ut_List[uid] = sessionList

In [ ]:
u_List = {}
for uid in ut_List:
    u_List[uid] = []
    for tid in ut_List[uid]:
        u_List[uid].append(ut_List[uid][tid])

In [ ]:
json_u_List = json.dumps(u_List)
saveFile(json_u_List,'Avito.json')

In [10]:
uiclear1_sort_uit_df.nunique()

UserID      107548
AdID        175738
ViewDate         8
dtype: int64